@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
 body{
    font-family: 'Julee', cursive;
 }
.banner{
    height: 200px;
    background-image: url(./assets/banner-Kung\ Fu\ Panda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}