@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
 body{
    font-family: 'Julee', cursive;
 }
 main{
    background-color: #e6d69e;
 }
.banner{
    height: 200px;
    background-image: url(./assets/banner-Kung\ Fu\ Panda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.p-rounded{
    border-radius: 0.25rem;
}
.container-description{
    width: 80%;
}

.modal-scroll{
    overflow-y: scroll;
}

.container-description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}